<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/base :: head"></head>
    <body>

        <header th:replace="layout/base :: header"></header>

        <section class="container my-4">
            <h1>Plataforma académica</h1>
            <p>Panel de inicio.</p>
        </section>

        <footer th:replace="layout/base :: footer"></footer>

    </body>
</html>